	<% include header %>

    <div class="row">
      <div class="afficheur col-lg-12 container-fluid" id="accueil">

        <section  class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10  col-xs-offset-1 col-xs-10" id="ongletAccueil">

					<p id="phraseAccueil">


						"Home Easy Managment" est une application facile d'utilisation pour les particuliers qui permet de gérer leurs budgets.
						Pour pouvoir enregistrer vos revenus et dépenses, il faudrait créer un compte utilisateur pour s'authentifier.
						Vous pouvez également, suivre l'évolution de vos données mensuelles et/ou annuelles.
						Une fois que vous êtes inscrit.
						Cette application est fait pour qu'elle soit à la portée de tout le monde.
						"Home Easy Managment" est une application sécurisée, vos données personnelles sont donc protégées et ne seront pas utilisées à des fins commerciaux.

					</p>

					<div class="slider col-lg-offset-1.5 col-lg-6.5">

			        <img src="images/a.jpg" class="slideImage" alt="c'est une photo d'argent en liquide">  <!--  indice 0 display block-->
			        <img src="images/b.jpg" class="slideImage" alt="c'est une photo d'une calculatrice">  <!--  indice 1 display none-->
			        <img src="images/c.jpg" class="slideImage" alt="c'est une photo des gens en vacances sur la plage">  <!--  indice 2 display none-->
			        <img src="images/d.jpg" class="slideImage" alt="c'est une photo des enfants gardés en crêches">  <!--  indice 3 display none-->
							<img src="images/e.jpg" class="slideImage" alt="c'est une photo des fruits et légumes à vendre">  <!--  indice 4 display none-->
							<img src="images/f.jpg" class="slideImage" alt="c'est une photo d'un immeuble d'habitation">  <!--  indice 5 display none-->
							<img src="images/g.jpg" class="slideImage" alt="c'est une photo d'un compteur d'électricité">  <!--  indice 6 display none-->
							<img src="images/h.jpg" class="slideImage" alt="c'est une photo d'une personne qui fait du carburant">  <!--  indice 7 display none-->
							<img src="images/i.jpg" class="slideImage" alt="c'est une photo d'un tarif d'un abonnement ratp">  <!--  indice 8 display none-->

			    </div> 

        </section>

      </div> <!-- fin div Afficheur-->
		</div> <!-- fin row-->


		<script>
    /* 3 FONCTIONS IMPORTANTES GESTION DE TEMPS JS:
    settimeout appel une fois au bout d'un certain temps
    setInterval appel la fonction tous les x milliseconde, de manière indéfinie
    clearInterval pour arrêter l'interval*/
    $(document).ready(function () {
      // initialisation des variables :
      var indice=1; //représente de l'image
      var tourne=true; //indique que le slider tourne
      var nbImage = $('img').length;
			// ==>Calcul automatiquement le nombre d'image indice ==nbImage

      //Déclaration d'une fonction d'affichage des images

      function affiche() {
        if(indice == nbImage){
          indice = 0;
          $('img').hide();

        }

        // Affiche l'image
        $('img').eq(indice).show();
        indice++; //incrémentation (+1)
      };
      // fonction pour la pause :

        $('img').click(function () {
          if(tourne){ //si le slider tourne
            clearInterval(timer);
            tourne = false //indique que le slider est à l'arrêt
          }
          else {
            affiche();
            timer=setInterval(affiche, 2000);
            tourne = true;

          }
        });

      var timer=setInterval(affiche, 2000); //appel la fonction affiche() toutes les 3s, Affiche c'est un call back =>pas mettre ()

    }); //fin DOC Ready

    </script>


		<% include footer %>
