<% include header %>
    <div class="row">
      <div class="afficheur" class="col-lg-12">




      </div> <!-- fin div Afficheur-->

		</div> <!-- fin row-->

  </div> <!-- fin grand container fluid-->

	<% include footer %>
