<% include header %>
    <div class="row">
      <div id="afficheur" class="col-lg-12">

						<!-- DEBUT Section CONNEXION et INSCRIPTION -->
        <section  class="col-lg-offset-2 col-lg-8">

	        <!-- DEBUT formulaire d'INSCRIPTION'-->
					<!-- form validation VIDEO==>https://www.youtube.com/watch?v=t6XUPVmlYbY -->
	          <form name="myFormInscription" class="well col-lg-12" action="/connexionInscription" method="post">
	            <fieldset>
	              <legend>Inscription</legend>
									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
										<input type="text" name="prenom" id="prenom" placeholder="prénom" class="form-control" ng-model="user.prenom" ng-minlength="2" ng-maxlength="20" required/>
										<span style="color:red" ng-show="myFormInscription.prenom.$dirty && myFormInscription.prenom.$error.required">Champ requis</span>
										<span style="color:red" ng-show="myFormInscription.prenom.$dirty && myFormInscription.prenom.$error.minlength">Prénom trop court</span>
										<span style="color:red" ng-show="myFormInscription.prenom.$dirty && myFormInscription.prenom.$error.maxlength">Prénom trop long</span>
									</div>


									<div class="input-group">

										<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	                  <input type="text" name="nom" id="nom" placeholder="nom" class="form-control" ng-model="user.nom" required ng-minlength="2" ng-maxlength="30"/>
										<span style="color:red" ng-show="myFormInscription.nom.$dirty && myFormInscription.nom.$error.required">Champ requis</span>
										<span ng-show="myFormInscription.nom.$dirty && myFormInscription.nom.$error.minlength">Nom trop court</span>
										<span style="color:red" ng-show="myFormInscription.nom.$dirty && myFormInscription.nom.$error.maxlength">Nom trop long</span>

									</div>

									<div class="input-group">

										<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
										<input type="text" name="ville" class="form-control" id="ville" placeholder="votre ville" ng-model="user.adresse" required ng-minlength="2" ng-maxlength="20"/>

										<span style="color:red" ng-show="myFormInscription.ville.$dirty &&  myFormInscription.ville.$error.required">Champ requis</span>

										<span style="color:red" ng-show="myFormInscription.ville.$dirty &&  myFormInscription.ville.$error.minlenght">Adresse trop court</span>

										<span style="color:red" ng-show="myFormInscription.ville.$dirty &&  myFormInscription.ville.$error.maxlenght">Adresse  trop long</span>

									</div>

                  <div class="input-group">

										<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
										<input type="email" name="email" id="email" placeholder="votre Email" class="form-control" ng-model="user.emailInscription" required/>
										<span style="color:red" ng-show="myFormInscription.email.$dirty && myFormInscription.email.$error.required">Champ requis</span>
										<span style="color:red" ng-show="myFormInscription.email.$dirty && myFormInscription.email.$error.email">Ce n'est pas un Email</span>

									</div>

									<div class="input-group">
										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
										<input type="password" name="motDePasse" id="motDePasse" value="" placeholder="mot de passe de 6 à 12 caractères" class="form-control" ng-model="user_Password" required ng-minlength="6" ng-maxlength="12"/>

										<span style="color:red" style="color:red" ng-show="myFormInscription.motDePasse.$dirty && myFormInscription.motDePasse.$error.required">Champ requis</span>
										<span style="color:red" ng-show="myFormInscription.motDePasse.$dirty && myFormInscription.motDePasse.$error.minlength">Mot de passe trop court (6 caractères minimun)</span>
										<span style="color:red" style="color:red" ng-show="myFormInscription.motDePasse.$dirty && myFormInscription.motDePasse.$error.maxlength">Mot de passe trop long (12 caractères maximum)</span>

									</div>

									<div class="input-group">

										<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

										<input type="password" name="confirmPassword" id="confirm_passwordInscription" placeholder="retaper votre mot de passe de 6 à 12 caractères" class="form-control" ng-model="user_confirmPassword" required ng-minlength="6" ng-maxlength="12" />

										<span style="color:red" ng-show="myFormInscription.confirmPassword.$dirty && myFormInscription.confirmPassword.$error.required">Champ requis</span>

										<span style="color:red" ng-show="myFormInscription.confirmPassword.$dirty && myFormInscription.confirmPassword.$error.minlength">Mot de passe trop court (6 caractères minimun)</span>

										<span style="color:red" ng-show="myFormInscription.confirmPassword.$dirty && myFormInscription.confirmPassword.$error.maxlength">Mot de passe trop long (12 caractères maximum)</span>

										<span id ="message" class="help-inline"></span>

									</div>


                  <input type="submit" name="envoyer" value="inscription" class="form-control valider" style="background-color:#5900b3;color:white" ng-disabled="myFormInscription.$invalid">
									 <!-- <span class="help-inline" ng-show="submitted && myFormInscription.$success.email">Vous êtes incrits</span> -->
									<!-- <span  ng-show="myFormInscription.envoyer.$submitted.submit"> Vous êtes incrits </span> -->

	                  </fieldset>

	                </form>
	                <!-- FIN formulaire INSCRIPTION-->
	          </section>

	          <!-- FIN Section INSCRIPTION -->

      </div> <!-- fin div Afficheur-->


		</div>
	<% include footer %>
