<% include header %>
  <%
    var tmpEmail;
    if(typeof locals.user != 'undefined'){
      if(user.connected ==='TRUE'){
        tmpEmail = locals.user.email;
%>

<%
      }
      else{
        tmpEmail=''
      }
    }
    else{
  %>
      
  <%
    }
  %>
    <div class="row">
      <div class="afficheur col-lg-12">

				<!-- DEBUT formulaire de CONTACT-->
        <section  class="col-lg-offset-1 col-lg-10" id="ongletContact">

          <form name ="myFormContact" class="well col-lg-12" action="/contact" method="post" novalidate>
            <div class="help-block">
            <!--il faut mettre locals devant la variable error pour qu'il puisse accéder à la variable local  -->
            <% if (locals.flash && locals.flash.success) { %>
            <div class="alert alert-success">
                <!--PAS OUBLIE LE EGALE =  -->
                <%= flash.success %>
              </div>
            <% } %>

              <p class="col-lg-12">
                <label for="adresseMail">adresse mail</label></br>
                <input type="email" name="adresseMail"  class="form-control" value="<%=tmpEmail%>" ng-pattern="emailPatternContact" required>

								<span  style="color:red" ng-show="myFormContact.adresseMail.$dirty && myFormContact.adresseMail.$error.required">Champ requis</span>
								<span  style="color:red" ng-show="myFormContact.adresseMail.$dirty && myFormContact.adresseMail.$error.email || myFormContact.email.$error.pattern">Ce n'est pas un Email</span>
              </p>

              <p class="col-lg-12">

                <label for="motifMessage"> Motif de votre message </label></br>
                <input type="text" name="motifMessage"  class="form-control" maxlength="40" required>
								<span  style="color:red" ng-show="myFormContact.motifMessage.$dirty && myFormContact.motifMessage.$error.required">Champ requis</span>

              </p>
              <p class="col-lg-12">
              <textarea name="message"  placeholder="écrivez ici votre message" ng-minlength="10" ng-maxlength="500" required></textarea>

							<span style="color:red" ng-show="myFormContact.message.$dirty && myFormContact.message.$error.required">Champ requis</span>

							<span style="color:red" ng-show="myFormContact.message.$dirty && myFormContact.message.$error.minlength">texte trop court</span>

							<span style="color:red" ng-show="myFormContact.message.$dirty && myFormContact.message.$error.maxlength">Texte trop long</span>

              </p>
              <p class="col-lg-12" >
              <input type="submit"  value="envoyer" class="form-control valider" style="background-color:#5900b3;color:white" ng-disabled="myFormContact.$invalid">
              </p>
          </form>
          <!-- FIN formulaire de CONTACT-->


          </section>





      </div> <!-- fin div Afficheur-->

		</div>

	</div>
		<% include footer %>
